<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>FilteringListsTests</key>
		<dict>
			<key>testVStackFiltering()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.320926</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>FilteringPerformanceTests</key>
		<dict>
			<key>testCoreDataList()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.290531</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testExampleListOptimizedScrolling()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.293561</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testFilterInside()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.291366</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>ScrollPerformanceTests</key>
		<dict>
			<key>testCoreDataList()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_OSSignpost-Scroll_Deceleration.duration</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.304915</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>ScrollingPerformanceTests</key>
		<dict>
			<key>testVStackScrolling()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_OSSignpost-Scroll_DraggingAndDeceleration.duration</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.489495</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
